<%
  page_title t('.title')
  label_key = "mongoid.attributes.highlight."
%>

<% if @highlights.present? %>

  <div class="highlight-grid">
    <% @highlights.each do |highlight| %>
      <div class="highlight-item" data-id="<%= highlight.base_id %>">
        <div class='description'>
          <span><%= highlight.description %></span>
          <% if can? :create, Highlight %>
            <div class="highlight highlighted<%= highlight.home ? ' onhome' : '' %>" data-dialog='highlights' data-id="<%= highlight.base_id %>" title="<%= t('shared.common.update_or_remove_highlight') %>"></div>
          <% end %>
        </div>
        <div class='chart-container'><div class='chart'></div></div>
      </div>
    <% end %>
  </div>

  <%= paginate @highlights %>

  <% if can? :create, Highlight %>
    <dialog>
      <div class="bg"></div>
      <%= render :partial => 'highlight_dialog', locals: { type: 'highlights' } %>
    </dialog>
  <% end %>

<% else %>
  <p class="empty-page">
    <%= t('.no_highlights') %>
  </p>
<% end %>

<% content_for :custom_js, "highlights" %>
<% content_for :custom_css, "highlights" %>
<%
  if can? :create, Highlight
    @custom_js = [ "highlight_form.js" ]
    @custom_css = [ "components/highlight_form.css" ]
  end
%>
