<% page_title t 'shared.common.name'
  income_path = explore_path(id: ShortUri.explore_uri({filter: 'finance', income: [@main_categories[:income]], party: @default_parties, period: @default_periods}))
%>

  <div class="home-summary">
    <div class="home-summary-text">
      <%= simple_format t('.summary') %>
    </div>
    <div class="home-launcher">
      <div class="launcher-summary">
        <%= t('.filter_summary').html_safe %>
      </div>
      <div class="launcher-group">
        <div class="launcher-buttons">
          <%= link_to t('shared.filters.donations'), explore_path(id: ShortUri.explore_uri({filter: 'donation'})), tabindex: 4, class: 'donation' %>
          <div class="separator"></div>
          <%= link_to t('shared.filters.party_finances').strip_html_tags, income_path, tabindex: 4, class: 'finance' %>
        </div>
        <%= link_to t('.go_explore'), income_path, class: 'explore' %>
      </div>
      <ul class="launcher-list">
        <li>
          <%= link_to t('shared.filters.income').upcase, income_path %>
        </li>
        <li>
          <%= link_to t('shared.filters.expenses').upcase, explore_path(id: ShortUri.explore_uri({filter: 'finance', expenses: [@main_categories[:expenses]], party: @default_parties, period: @default_periods})) %>
        </li>
        <li>
          <%= link_to t('shared.filters.reform_expenses').strip_html_tags, explore_path(id: ShortUri.explore_uri({filter: 'finance', reform_expenses: [@main_categories[:reform_expenses]], party: @default_parties, period: @default_periods})) %>
        </li>
        <li>
            <%= link_to t('shared.filters.property_assets').strip_html_tags, explore_path(id: ShortUri.explore_uri({filter: 'finance', property_assets: [@main_categories[:property_assets]], party: @default_parties, period: @default_periods})) %>
        </li>
        <li>
          <%= link_to t('shared.filters.financial_assets').strip_html_tags, explore_path(id: ShortUri.explore_uri({filter: 'finance', financial_assets: [@main_categories[:financial_assets]], party: @default_parties, period: @default_periods})) %>
        </li>
        <li>
            <%= link_to t('shared.filters.debts').html_safe, explore_path(id: ShortUri.explore_uri({filter: 'finance', debts: [@main_categories[:debts]], party: @default_parties, period: @default_periods})) %>
        </li>
      </ul>
    </div>
    <div class="home-highlights">
      <% if @highlights.present? %>
        <div class="home-highlight-before-mask"></div>
        <div class="home-highlight-mask">
          <span><%= t('.highlights') %></span>
          <i></i>
        </div>
        <div class="home-highlight-after-mask"></div>
      <% end %>
    </div>
  </div>
  <% if @highlights.present? %>
    <div class="highlight-grid">
      <% @highlights.each do |highlight| %>
        <div class="highlight-item" data-id="<%= highlight.base_id %>">
          <div class='description'><%= highlight.description %></div>
          <div class='chart-container'><div class='chart'></div></div>
        </div>
      <% end %>
    </div>
    <%= link_to t('.view_all_highlights'), highlights_path, class: 'highlights-all' %>
  <% end %>

<% content_for :custom_js,  "home"  %>
<% content_for :custom_css, "home" %>
