<% page_title t 'shared.common.name' %>

  <div class="home-summary">
    <div class="home-summary-text">
      <%= simple_format t('.summary') %>
    </div>

    <div class="home-filters">
      <div id="filter_type" class="filter-type clear" data-type="donation">
        <div class="filter-summary-small-screen">
          <%= t('.filter_summary').html_safe %>
        </div>
        <div class="filters-left">
          <div class="filter-summary">
            <%= t('.filter_summary').html_safe %>
          </div>
          <div class="donation active" data-type="donation">
            <button type="button" id="donation_toggle" class="donation-toggle" tabindex="4" data-link="<%= explore_path(filter: 'donation') %>"><%= t('shared.filters.donations') %></button>
          </div>
        </div>
        <div class="filters-right">
          <div class="finance" data-type="finance">
            <div class="finance-container">
              <button type="button" id="finance_toggle" class="finance-toggle" tabindex="4"  data-link="<%= explore_path(filter: 'finance', :'income[]' => @main_categories[:income]) %>"><%= t('shared.filters.party_finances').html_safe %></button><ul id="finance_category" >
                <li>
                  <div class="finance-category-toggle" data-state="" data-cat="income">
                    <%= link_to t('shared.filters.income').upcase, explore_path(id: ShortUri.explore_uri({filter: 'finance', income: [@main_categories[:income]], party: @default_parties})), class: 'label', tabindex: '4' %>
                  </div>
                </li>
                <li>
                  <div class="finance-category-toggle" data-state="" data-cat="expenses">
                    <%= link_to t('shared.filters.expenses').upcase, explore_path(id: ShortUri.explore_uri({filter: 'finance', expenses: [@main_categories[:expenses]], party: @default_parties})), class: 'label', tabindex: '4' %>
                  </div>
                </li>
                <li>
                  <div class="finance-category-toggle" data-state="simple" data-cat="reform_expenses">
                    <%= link_to t('shared.filters.reform_expenses').html_safe, explore_path(id: ShortUri.explore_uri({filter: 'finance', reform_expenses: [@main_categories[:reform_expenses]], party: @default_parties})), class: 'label long', tabindex: '4' %>
                  </div>
                </li>
                <li>
                  <div class="finance-category-toggle" data-state="simple" data-cat="property_assets">
                    <%= link_to t('shared.filters.property_assets').html_safe, explore_path(id: ShortUri.explore_uri({filter: 'finance', property_assets: [@main_categories[:property_assets]], party: @default_parties})), class: 'label long', tabindex: '4' %>
                  </div>
                </li>
                <li>
                  <div class="finance-category-toggle" data-state="simple" data-cat="financial_assets">
                    <%= link_to t('shared.filters.financial_assets').html_safe, explore_path(id: ShortUri.explore_uri({filter: 'finance', financial_assets: [@main_categories[:financial_assets]], party: @default_parties})), class: 'label long', tabindex: '4' %>
                  </div>
                </li>
                <li>
                  <div class="finance-category-toggle" data-state="simple" data-cat="debts">
                    <%= link_to t('shared.filters.debts').html_safe, explore_path(id: ShortUri.explore_uri({filter: 'finance', debts: [@main_categories[:debts]], party: @default_parties})), class: 'label', tabindex: '4' %>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="home-explore">
        <%= link_to t('.go_explore'), explore_path(filter: 'finance', :'income[]' => @main_categories[:income]) %>
      </div>
    </div>
    <div class="home-highlights">
      <div class="home-highlight-before-mask"></div>
      <div class="home-highlight-mask">
        <span><%= t('.highlights') %></span>
        <i></i>
      </div>
      <div class="home-highlight-after-mask"></div>
    </div>
  </div>
  <% if @highlights.present? %>

    <div class="highlight-grid">
      <% @highlights.each do |highlight| %>
        <div class="highlight-item" data-id="<%= highlight.base_id %>">
          <div class='description'><%= highlight.description %></div>
          <div class='chart-container'><div class='chart'></div></div>
        </div>
      <% end %>
    </div>
    <%= link_to t('.view_all_highlights'), highlights_path, class: 'highlights-all' %>
  <% end %>

<% content_for :custom_js,  "home"  %>
<% content_for :custom_css, "home" %>
