<%
  page_title t('.title')
  label_key = "mongoid.attributes.party."
%>
<div id="party">
  <div class="content">
    <div class="filter">
      <div class="filter-toggle"><i class="filter-icon" title="<%= t('.filters') %>"></i><%= t('.filters') %></div>
      <div class="pane">
        <div class="filter-header">
          <label><i class="filter" title="<%= t('.filters') %>"></i><%= t('.filters') %></label>
          <i class="close" title="<%= t('.filter_close') %>"></i>
        </div>
        <div class="filter-inputs">
          <%= render partial: 'autocomplete_input', :locals => { input_for: "filter", input_field: "party", on: true,
            list: generate_li_list(@party_list.select{|s| s[3] == true }) , category_label: 0 } %>
          <div class="row filter-input" data-field="period" data-type="period_mix">
            <a href="javascript:void(0);" class="toggle" tabindex="5"><%= t('.time') %><i title="<%= t('.filter_toggle') %>"></i></a>
            <ul id="filter_period" class="list" data-type="period_mix"></ul>
            <div class="input-group">
              <div class="input-radio-group">
                <input type="radio" id="filter_period_annual" name="filter_period" value="annual" data-type="period_mix" checked>
                <label for="filter_period_annual" data-type="annual"><%= t('.annual') %></label>
                <span class="or"><%= t('shared.common.or') %></span>
                <input type="radio" id="filter_period_campaign" name="filter_period" value="campaign" data-type="period_mix">
                <label for="filter_period_campaign" data-type="campaign"><%= t('.campaign') %></label>
              </div>
              <div class="input-checkbox-group">
                <ul data-type="annual">
                  <% Period.annual.each{|e| %>
                    <li><input type="checkbox" id='filter_period_annual_<%= "#{e.permalink}" %>' name='filter_period_annual' value="<%= "#{e.permalink}" %>">
                    <label for='filter_period_annual_<%= "#{e.permalink}" %>'><span></span><%= "#{e.title}" %></label></li>
                  <% } %>
                </ul>
                <ul class="hidden" data-type="campaign">
                  <% period_campaigns = Period.campaigns.to_a %>
                  <% period_campaigns.each{|e| %>
                    <li><input type="checkbox" id='filter_period_campaign_<%= "#{e.permalink}" %>' name='filter_period_campaign' value="<%= "#{e.permalink}" %>">
                    <label for='filter_period_campaign_<%= "#{e.permalink}" %>'><span></span><%= "#{e.title}" %></label></li>
                  <% } %>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="filter-footer">
          <button id="reset" class="reset"><%= t('.reset') %></button>
          <button id="explore_button" class="explore-button"><i class='explore'></i><%= t('.explore') %></button>
        </div>
      </div>
    </div>
    <div class="result">
      <div class="view-loader hidden" data-type="circle">
        <div class="circle"></div>
        <div class="message"><%= t('.loader_missing_category') %></div>
      </div>
      <div class="result-container">
        <div class="info">
          <div class="row">
            <div class="column">
              <div class="caption">
                <div><%= @item.title %></div>
              </div>
              <% if @item.leader.present? %>
                <div class="leader">
                  <label><%= t(label_key + 'leader') %>:</label>
                  <span><%= @item.leader %></span>
                </div>
              <% end %>
            </div>
            <div class="column">
              <div class="range"><%= @item.get_range %></div>
            </div>
          </div>
          <div class="description"><%= @item.description %> <%= lorem[0..(rand(150..400))] %></div>
        </div>
        <div id="donation">
          <div class="stats">
            <div class='stats-caption'><%= t('.donations') %></div>
            <div class="stats-box">
              <% stats = @item.get_stats(:donations) %>
              <div class="stat-box" data-stat="amount"><label><%= t('.total_amount') %>:</label><span><%= stats[0] %></span></div>
              <div class="stat-box" data-stat="count"><label><%= t('.total_donations') %>:</label><span><%= stats[1] %></span></div>
            </div>
          </div>
          <div class="charts">
            <div class="chart-container">
              <%= render partial: 'chart_actions', locals: { type: 'd', chart: 'a', share_title: 'donation_chart_1' } %>
              <div id="donation_chart_1"></div>
            </div>
            <div class="chart-container">
              <%= render partial: 'chart_actions', locals: { type: 'd', chart: 'b', share_title: 'donation_chart_2' } %>
              <div id="donation_chart_2"></div>
            </div>
          </div>
        </div>
        <div id="finance">
          <div class="stats">
            <div class='stats-caption'><%= t('.finances') %></div>
            <div class="stats-box">
              <% @main_categories.each{|category| %>
                <% stats = @item.get_stats(category[0]) %>
                <div class="stat-box" data-category="<%= category[0] %>"><label><%= t(".#{category[0]}") %>:</label><span><%= stats[0] %></span></div>
              <% } %>
            </div>
          </div>
          <% @main_categories.each{|category| %>
            <div class="chart-container" data-type="<%= category[0] %>">
              <%= render partial: 'chart_actions', locals: { type: 'f', chart: 'a', share_title: 'finance_chart' } %>
              <div id="finance_chart_<%= category[0] %>"></div>
            </div>
          <% } %>
        </div>
        <div class="not-found hidden"><%= t('shared.msgs.data_not_found') %></div>
      </div>
    </div>
  </div>
</div>

<%
  @custom_js = ["highcharts.js", "highcharts-grouped-categories.js", "crypto.min.js", "party"]
  content_for :custom_css, "party"
%>


Profile detail page
- party name
- leader
- summary
- time range

- block for each of the party finances with chart and total value as big number
- for donations, show both charts and total donations
- each chart should include the embed/donation options
- each block should include link to go to the explore page for that data
- page will have filter similar to explore page with party and time fields
- by default all year time fields are selected
 -->
