<%
  page_title t('.title')
  label_key = "mongoid.attributes.party."
%>

<% if @items.present? %>
  <div class="grid-items">
    <% @items.each do |item| %>
      <div class="grid-item">
        <div class="grid-row">
          <div class="grid-column">
            <div class="caption">
              <a href="<%= party_path(id: item.get_short_uri(@annuals)) %>"><%= item.title %></a>
            </div>
            <% if item.leader.present? %>
              <div class="leader">
                <label><%= t(label_key + 'leader') %>:</label>
                <span><%= item.leader %></span>
              </div>
            <% end %>
          </div>
          <div class="grid-column">
            <div class="range"><%= item.get_range %></div>
          </div>
        </div>
        <div class="description"><%= item.description %> <%= lorem[0..(rand(150..400))] %></div>
        <div class="stats">
          <div class="stat-box total-donation">
            <label><%= t('.donations') %>:</label>
            <span><%= item.get_stats(:donations)[0] %></span>
          </div>
          <div class="stat-box total-finances">
            <label><%= t('.income') %>:</label>
            <span><%= item.get_stats(:income)[0] %></span>
          </div>
          <div class="stat-box total-expenses">
            <label><%= t('.expenses') %>:</label>
            <span><%= item.get_stats(:expenses)[0] %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @items %>
<% else %>
  <p class="empty-page">
    <%= t('.no_parties') %>
  </p>
<% end %>

<% @custom_js = ["parties"] %>
<% content_for :custom_css, "parties" %>
